<div class="clearfix"></div>
<div class="sliderbox">
  <h3><b>{{ heading_title }}<span style="float:right"><a href="{{ category_link }}">View All</a></span></b></h3>
  <div class="row">            
      <div class="swiper-container" id="carousel-{{ carousel_id }}">
        <div class="swiper-wrapper">          
          {% for product in products %}
            <div class="swiper-slide text-center product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="product-thumb transition">
                <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
                  <div class="caption">
                    <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                  {% if product.price %}
                    <p class="price"> {% if not product.special %}
                      {{ product.price }}
                      {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                      {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
                    {% endif %}
                  </div>                    
                  <div class="button-group">
                    <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                    <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                    <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
                  </div>
                </div>            
            </div>
            {% endfor %}                
        </div>        
        <br/><br/>
        <div class="swiper-pagination carousel-{{ carousel_id }}"></div>
      </div>       
  </div>
  </div>  




<script type="text/javascript">
$('#carousel-{{ carousel_id }}').swiper({
  mode: 'horizontal',
  slidesPerView: 4,
  pagination: '.carousel-{{ carousel_id }}',
  paginationClickable: true,
  nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
  autoplay: 3000,
  loop: true,
  breakpoints: {
    // when window width is <= 320px
    320: {
      slidesPerView: 1,
      spaceBetween: 10
    },
    // when window width is <= 480px
    480: {
      slidesPerView: 1,
      spaceBetween: 20
    },
    // when window width is <= 640px
    640: {
      slidesPerView: 1,
      spaceBetween: 30
    }
  }
});

  /*$(document).ready(function() {
  var owl = $('#bycategory-juices');
  owl.owlCarousel({
  margin: 20,
  autoplay:true,
  nav: true,
  navText: ["<span class='fa fa-angle-left'></span>","<span class='fa fa-angle-right'></span>"],
  dots:false,
  loop: true,
  responsive: {
  0: {
  items: 2
  },
  600: {
  items: 3
  },
  1000: {
  items: 4
  }
  }
  })
  })*/
  </script>